<!DOCTYPE html>
<html>
	<head>
		<%= yield_content :head %>
	</head>
	<body class="<%= page_classes %>">
		<%= yield %>
		<%= partial "app/partials/responsive/$" %>
		<%= javascript_include_tag "app-js" %>
	</body>
</html>